<div class="min-h-screen flex items-center justify-center bg-gradient-to-r from-purple-400 via-pink-500 to-red-500">
  <div class="w-full max-w-md bg-white shadow-lg rounded-lg p-8">
    <h1 class="text-3xl font-extrabold text-center text-purple-600 mb-6">ユーザー登録</h1>
    <%= form_with model: @user, local: true do |f| %>
      <div class="mb-5">
        <%= f.label :last_name, class: "block text-sm font-semibold text-gray-700" %>
        <%= f.text_field :last_name, class: "mt-1 block w-full p-2 border border-purple-300 rounded-md shadow-sm focus:ring-pink-500 focus:border-pink-500 sm:text-sm" %>
      </div>
      <div class="mb-5">
        <%= f.label :first_name, class: "block text-sm font-semibold text-gray-700" %>
        <%= f.text_field :first_name, class: "mt-1 block w-full p-2 border border-purple-300 rounded-md shadow-sm focus:ring-pink-500 focus:border-pink-500 sm:text-sm" %>
      </div>
      <div class="mb-5">
        <%= f.label :email, class: "block text-sm font-semibold text-gray-700" %>
        <%= f.email_field :email, class: "mt-1 block w-full p-2 border border-purple-300 rounded-md shadow-sm focus:ring-pink-500 focus:border-pink-500 sm:text-sm" %>
      </div>
      <div class="mb-5">
        <%= f.label :password, class: "block text-sm font-semibold text-gray-700" %>
        <%= f.password_field :password, class: "mt-1 block w-full p-2 border border-purple-300 rounded-md shadow-sm focus:ring-pink-500 focus:border-pink-500 sm:text-sm" %>
      </div>
      <div class="mb-5">
        <%= f.label :password_confirmation, class: "block text-sm font-semibold text-gray-700" %>
        <%= f.password_field :password_confirmation, class: "mt-1 block w-full p-2 border border-purple-300 rounded-md shadow-sm focus:ring-pink-500 focus:border-pink-500 sm:text-sm" %>
      </div>
      <%= f.submit t('.title'), class: "w-full bg-gradient-to-r from-green-400 to-blue-500 text-white py-2 rounded-md hover:from-green-500 hover:to-blue-600" %>
    <% end %>
    <div class="mt-6 text-center">
      <%= link_to t('.to_login_page'), login_path, class: "text-blue-600 hover:text-blue-800 font-semibold underline" %>
    </div>
  </div>
</div>
